.skills {
    background-color: $normalBlue;
    color: #FFF;
    padding: 64px 16px 88px;

    &__columns {
        @media (min-width: $desktop) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 1184px;
            margin: 0 auto;
        }
    }

    &__header {
        text-align: center;
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        margin: 0 0 64px;

        @media (min-width: $desktop) {
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
        }
    }
}


.skills-list {
    color: $listBlue;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 288px;
    margin: 0 auto;
    list-style-type: none;

    &__item {
        padding: 0 0 0 24px;
        margin: 0 0 16px;
        position: relative;

        &:before {
            position: absolute;
            left: 0;
            top: 7px;
            content: '';
            width: 12px;
            height: 9px;
            display: block;
            background: url('../assets/img/small-tick-green.svg');

            .skills-list--blue & {
                background: url('../assets/img/small-tick-blue.svg');
            }

            .skills-list--bullet & {
                background: url('../assets/img/bullet.svg');
                border-radius: 50%;
                width: 4px;
                height: 4px;
                top: 10px;
                left: 5px;
            }

        }
    }
}


.skills-section {
    margin-top: 64px;

    &__emoji {
        font-size: 64px;
        line-height: 64px;
        display: block;
        text-align: center;

        @media (min-width: $desktop) {
            line-height: 72px;
        }
    }

    &__header {
        font-weight: 700;
        font-size: 24px;
        line-height: 44px;
        text-align: center;
        margin: 16px 0 24px 0;

        @media (min-width: $desktop) {}
    }
}