$blueLight: #4DA8FF;
$consoleDark: #808082;
$consoleLight: #A3A3A3;
$contactBackground: #DBEAF7;
$darkGray: #1E1E1E;
$gray: #212528;
$grayBlue: #dfecfd;
$listBlue: #DBEAF7;
$linkConsole: #14B5D0;
$mediumGray: #464A4D;
$normalBlue: #1070CA;
$textDark: #234361;
$textDefault: #425A70;
